.margin-top{
    margin-top: 80px;
}
.imagen-perfil{
    height: 275px;
    width: 275px;
    border: 4px solid white;
}
.letra-news{
    font-size: 40px;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
tr:nth-child(odd) {
    background-color: #aaaaaa;
}
table{
    width: 100%;
}
.container2{
    background-color: #393939;
    border: 4px solid white;
    width: 100%;
}
a:hover{
    color: #ffd82d
}
table.scroll {
   width: 100%;/* Optional */
    /* border-collapse: collapse; */
    border-spacing: 0;
    border: 2px solid black;
}

table.scroll tbody,
table.scroll thead { display: block; }
tr{
    width: 100%;
}
thead tr th { 
    height: 30px;
    line-height: 30px;
    /* text-align: left; */
}

table.scroll tbody {
    height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}


tbody td:last-child, thead th:last-child {
    border-right: none;
}
